@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Medium.ttf');
    font-weight: normal;
}