@media (max-width: 1330px) {
    .aboutme-title{
        font-size: 50px;
    }

    .bg{
        width: 770px;
        min-height: 500px;
        margin-top: 30px;
    }
}

@media (max-width: 1300px) {

    .aboutme-title{
        margin-bottom: 30px;
    }

    .bg{
        width: 600px;
        min-height: 400px;
        margin-top: 80px;
    }
}

@media (max-width: 1130px) {

    .aboutme-title{
        margin-bottom: 30px;
    }

    .bg{
        width: 500px;
        min-height: 400px;
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {

    .general-aboutme{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav__list {
      gap: 10px;
    }
  
    .nav__logo {
      font-size: 24px;
    }
  
    .nav__list-link {
      font-size: 17px;
    }

    .header__title-span{
        margin-top: 50px;
    }

    .wrapper{
        display: none;
    }

    .wrapper-mini{
        display: block;
    }

    .header__title-mediums{
        font-size: 30px;
    }

    .header__title-mediums samp{
        font-size: 30px;
    }

    .header__title-medium{
        font-size: 37px;
    }

    .header__descr{
        font-size: 16px;
        max-width: 500px;
    }

    .btn{
        margin-top: 30px;
    }

    .header-btns{
        width: 150px;
        font-size: 13px;
        border-radius: 7px;
        padding: 7px 17px;
    }

    .aboutme-title{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .bg{
        width: 770px;
        min-height: 500px;
        margin-top: 30px;
    }

    .about-content-item {
        max-width: 400px;
    }

    .about-content-descr{
        font-size: 17px;
    }

    .aboutme-btn{
        max-width: 150px;
        padding: 7px 17px;
    }

    .skills-title{
        font-size: 50px;
        text-align: center;
    }

    .skills-subtitle{
        font-size: 40px;
    }

    .skills__item{
        max-width: 400px;
    }

    .skills-item__subtitle {
        font-size: 25px;
    }

    .skills-img img{
        width: 35px;
        height: 35px;
    }

    .skills-descr{
        font-size: 15px;
        max-width: 500px;
    }

    .myworks-title{
        font-size: 50px;
        text-align: center;
    }

    .project-item {
        padding: 17px;
        
    }

    .project-item-title{
        font-size: 50px;
    }

    .project-item img {
        border-radius: 20px;
        margin-top: 7px;
        width: 700px;
        height: 400px;
        margin: 0 auto;
    }

    .project-item-descr {
        font-size: 15px;
        font-weight: 500;
        max-width: 700px;
        color: white;
    }

    .project-title {
        padding: 7px 17px;
        font-size: 17px;
    }

    .projects-titles-container{
        gap: 25px;
    }

    .contact-section {
        max-width: 740px;
    }
}

@media (max-width: 768px) {
    .nav__list {
        gap: 10px;
      }
    
      .nav__logo {
        font-size: 22px;
      }
    
      .nav__list-link {
        font-size: 15px;
      }
  
      .header__title-span{
          margin-top: 60px;
      }
  
      .wrapper{
          display: none;
      }
  
      .wrapper-mini{
          display: block;
      }
  
      .header__title-mediums{
          font-size: 25px;
      }
  
      .header__title-mediums samp{
          font-size: 30px;
      }
  
      .header__title-medium{
          font-size: 35px;
      }
  
      .header__descr{
          font-size: 14px;
          max-width: 400px;
      }
  
      .btn{
          margin-top: 25px;
      }
  
      .header-btns{
          width: 120px;
          border-radius: 7px;
          padding: 5px 15px;
      }

      .header-btns span{
        font-size: 15px;
      }
  
      .aboutme-title{
          font-size: 40px;
          margin-bottom: 25px;
      }
  
      .bg{
          width: 700px;
          min-height: 450px;
          margin-top: 30px;
      }
  
      .about-content-item {
          max-width: 370px;
      }
  
      .about-content-descr{
          font-size: 17px;
      }
  
      .aboutme-btn{
          max-width: 120px;
          padding: 6px 16px;
      }

      .aboutme-btn span{
        font-size: 18px;
      }
  
      .skills-title{
          font-size: 40px;
          text-align: center;
      }
  
      .skills-subtitle{
          font-size: 30px;
      }
  
      .skills__item{
          max-width: 330px;
      }
  
      .skills-item__subtitle {
          font-size: 20px;
      }
  
      .skills-img img{
          width: 30px;
          height: 30px;
      }
  
      .skills-descr{
          font-size: 13px;
          max-width: 350px;
      }
  
      .myworks-title{
          font-size: 40px;
          text-align: center;
      }
  
      .project-item {
          padding: 15px;
          
      }
  
      .project-item-title{
          font-size: 40px;
      }
  
      .project-item img {
          border-radius: 20px;
          margin-top: 6px;
          width: 600px;
          height: 360px;
          margin: 0 auto;
      }
  
      .project-item-descr {
          font-size: 14px;
          font-weight: 500;
          max-width: 600px;
          color: white;
      }
  
      .project-title {
          padding: 5px 15px;
          font-size: 15px;
      }
  
      .projects-titles-container{
          gap: 17px;
      }
  
      .contact-section {
          max-width: 640px;
      }

      .nav__content{
        display: flex;
        justify-content: space-around;
      }

    .nav{
        padding: 10px 5px;
        max-width: 1000px;
    }

    .container {
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;
        padding: 0px 15px;
    }
}

@media (max-width: 670px) {




    .nav__list {
        gap: 8px;
      }
    
      .nav__logo {
        font-size: 20px;
      }
    
      .nav__list-link {
        font-size: 12px;
      }
  
      .header__title-span{
          margin-top: 50px;
      }
  
      .wrapper{
          display: none;
      }
  
      .wrapper-mini{
          display: block;
      }
  
      .header__title-mediums{
          font-size: 22px;
      }
  
      .header__title-mediums samp{
          font-size: 25px;
      }
  
      .header__title-medium{
          font-size: 30px;
      }
  
      .header__descr{
          font-size: 12px;
          max-width: 350px;
      }
  
      .btn{
          margin-top: 20px;
      }
  
      .header-btns{
          width: 100px;
          border-radius: 7px;
          padding: 4px 13px;
      }

      .header-btns span{
        font-size: 13px;
      }
  
      .aboutme-title{
          font-size: 30px;
          margin-bottom: 25px;
      }
  
      .about-content-item {
          max-width: 350px;
      }
  
      .about-content-descr{
          font-size: 15px;
      }
  
      .aboutme-btn{
          max-width: 100px;
          padding: 5px 14px;
      }

      .aboutme-btn span{
        font-size: 15px;
      }
  
      .skills-title{
          font-size: 30px;
          text-align: center;
      }
  
      .skills-subtitle{
          font-size: 30px;
      }
  
      .skills__item{
          max-width: 300px;
      }
  
      .skills-item__subtitle {
          font-size: 17px;
      }
  
      .skills-img img{
          width: 28px;
          height: 28px;
      }
  
      .skills-descr{
          font-size: 12px;
          max-width: 330px;
      }
  
      .myworks-title{
          font-size: 30px;
          text-align: center;
      }
  
      .project-item {
          padding: 13px;
          
      }
  
      .project-item-title{
          font-size: 30px;
      }
  
      .project-item img {
          border-radius: 20px;
          margin-top: 6px;
          width: 550px;
          height: 320px;
          margin: 0 auto;
      }
  
      .project-item-descr {
          font-size: 13px;
          font-weight: 500;
          max-width: 550px;
          color: white;
      }
  
      .project-title {
          padding: 4px 13px;
          font-size: 14px;
      }
  
      .projects-titles-container{
          gap: 13px;
      }
  
      .contact-section {
          max-width: 585px;
      }

      .contacts-title{
        font-size: 35px;
      }

    .bg{
        width: 600px;
        min-height: 350px;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .bg{
        width: 600px;
        min-height: 300px;
        margin-top: 30px;
    }

}

@media (max-width: 570px) {
    .project-item img {
        border-radius: 20px;
        margin-top: 6px;
        width: 400px;
        height: 250px;
        margin: 0 auto;
    }

    .contact-section {
        max-width: 470px;
    }
      
    .nav__logo {
        font-size: 40px;
    }
      
        .burger {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 30px;
          height: 20px;
          cursor: pointer;
        }
      
        .burger span {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: 0.3s;
          border-radius: 2px;
        }
      
        .burger.active span:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .burger.active span:nth-child(2) {
          opacity: 0;
        }
        .burger.active span:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      
        .nav__list {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          right: 0;
          background: rgb(8, 90, 178);
          border-radius: 6px;
          padding: 15px;
          width: 200px;
          transition: .5s;
          transform: translateX(100%);
        }
        
        .nav__list-link::after {
            display: none;
          }
          
          
          .nav__list-link:hover::after {
            display: none;
          }

        .nav__list.active {
          display: flex;
          transform: translateX(0);
        }
      
        .nav__list-link {
          font-size: 18px;
          color: white;
          background-color: none;
          padding: 10px;
        }

    .skills-subtitle{
        display: none;
    }  

    .contact-section{
        max-width: 425px;
    }
}


